<body>
<div class="wrapper">
  <div class="top-bar">
    <div class="top-wrapper">
      <img src="https://res.cloudinary.com/tamirn2/image/upload/v1528198584/Stations/back-arrow.png" class="left-arrow"/>
      <img src="https://res.cloudinary.com/tamirn2/image/upload/v1528198584/Stations/switch.png" class="off-button"/>
      <div class="name">STATIONS</div>
    </div>
  </div>
  <!--<div class="stations-list">
      <app-station></app-station>

  </div>-->

<div>
<app-stations style="height: 100%"></app-stations>
</div>
  
 <!-- <div class="bot-bar">
    <div class="bot-bar-wrapper">
      <div class="currently-playing-title">CURRENTLY PLAYING</div>
      <div class="currently-playing">blah</div>
  </div> 
</div>-->
</div>
</body>
